body {
    background-color: lightgray;
}
#ChatShellView{
    position: absolute;
    left:0px;
    right: 0px;
    bottom:0px;
}
#LogWindow
#InputContainer {
    
}
#LoginContainer {
    background: grey;
    padding-top:40px;
    padding-bottom:40px;
    
}
#LoginContainer a{
    display: inline-block;
    text-decoration: none;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
}
.strangerChatLog,
.userChatLog{
    margin:auto;
    display: inline-table;
}
.strangerChatLog{text-align: left;}
.userChatLog{text-align: right;}
.strangerChatLog [data="user"],
.userChatLog [data="user"]{
    width: 100px;
    display: inline-table;
    background: rgb(20, 42, 170);
}
.strangerChatLog [data="message"],
.userChatLog [data="message"]{
    width: 700px;
    display:inline-table;
    background: burlywood;
}
.half-container,
.container  {
    display:block;
    width: 1000px;
    margin:auto;
    text-align: center;
}
.half-container{ width: 500px;}
.half-textbox,
.textbox {
    width: 750px;
    padding-left: 16px;
    margin-bottom:15px;
}
.half-textbox{width: 250px;}
.send {
    width:100px;
    margin-bottom:15px;
    background-color:rgba(119, 206, 119, 0.72);
}
.sweetborders{
    border-radius: 16px;
    border-style: solid;
    padding: 8px;
}
.abs-center
{
    margin-top: 10%;
}